# Hidden files and directories
.*
!.github/
!.gitignore

# Binaries
podmanview
*.exe
*.md

# Release script
release.bat

# Environment files
.env

# Database
podmanview.db

# IDE
/.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
